@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;

    /*this line is so none of the links will be underlined*/
    text-decoration: none;
    font-family: Inter;
}
ul li {
    list-style: none;
    display: flex;
    float: left;
    line-height: 100px;
}
ul{
    justify-content: flex-end;

}
ul li a {
    display: block;
    font-size: 14px;
    
    color: 1fa2b7;
    padding: 0 20px;
    text-align: right;
}
nav {
    width: 100%;
    height: 100px;
    background-color: #ffff;
    
    z-index: 99;
    max-width: 1300px;
    
    j


}

.mod {
    width:300px;
    height:400px;
    box-shadow: 0 30px 60px rgba(0,0,0,.4);
    padding-top: 100px;
    justify-content: flex-end;
    flex-direction: column;
    color: #1fa2b7;
    text-align: center;
    background-color: #ffff;

}
.boxes{
    flex-direction: row;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.Budget-Bar, h1 {
    color: #1fa2b7;
    
    text-align: center;
    

}
.Budget-Bar {
    padding-top: 100px;
    background:#ffff;
    width:300px;
    height:400px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    flex-direction:column;
    box-shadow:0 30px 60px rgba(0,0,0,.4);
    transition: transform .2s;
}
.Budget-Bar .percent{
    width:150px;
    height:150px;
    
    position:relative;
}
.Budget-Bar .percent .svg{
    width:150px;
    height:150px;
    position:relative;

}
.Budget-Bar .percent svg circle
{
  width:150px;
  height:150px;
  fill:none;
  stroke-width:10;
  stroke:#000;
  transform:translate(5px,5px);
  stroke-dasharray:440;
  stroke-dashoffset:440;
  stroke-linecap:round;
}
.Budget-Bar .percent svg circle:nth-child(1)
{
  stroke-dashoffset:0;
  stroke:#f3f3f3;
}

.Budget-Bar .percent .num{
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    color:#111;
}
.Budget-Bar .percent .num h2 span{
    font-size: 48px;
}

.Budget-Bar .percent .num h2 span
{
  font-size:24px;
}

.Budget-Bar .text
{
  padding 10px 0 0;
  
  font-weight:700;
  letter-spacing:1px;
}
.text {
    color:#999;
}

a:visited {
    color: #1fa2b7;

}
body{
    background-color: #eee;
    
    height: 100vh;

}

