@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
     
    
}

.modhead {
    padding-top: 10px;
    
}

h1 {
    padding-top: 20px;
    color: #1fa2b7;
    padding-bottom: 30px;
}

/*Profile page CSS start*/
.prof_body {
   
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;

}
.prof {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    padding-top: 10px;
    margin-top: 10px;
    color: #1fa2b7;
    text-align: center;
    

}
.title {
    
    text-align: center;
    color: #1fa2b7;
    
    
}

.pfp {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 80px;
    border-radius: 50%;
   
    color: #1fa2b7;
    
    margin-top: 30px auto;
    
}

.pfp img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    
}

.edit_pfp, .submit{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1fa2b7;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    
    


}
label {
    margin-bottom: 10px;
    margin-top: 20px;
    
    

}
.form_inputs {
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border: 2px solid #1fa2b7;
    background-color: white;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
    color: #9e9e9e;

}

.forms {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.checkbox {
    display: block;
    margin-top: 10px;
    padding: 10px;

    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


/*Profile Page CSS end*/



/*Nav Bar Css start*/

ul li {
    list-style: none;
    display: flex;
    float: right;
    
    
   padding: 35px 0;
   
}

ul {
   
    justify-content: flex-end;
}


ul li a {
    display: block;
    
    font-size: 16px;
    color: #1fa2b7;
    padding: 5px;
    padding-right: 30px;
    margin-right: 25px;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    text-align: right;
}

nav {
    margin-right: 25px;
    
    padding: 5px;
    padding-right: 30px;
    width: 100%;
    height: 100px;
    background-color: #ffff;
    z-index: 99;
    margin-right: 20px;
    
}
.nav-links ul {
    display: flex;
    justify-content: flex-end;

    
  
    
}
.nav-item a {
    display: flex;
    
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 20px;
    transition: background-color 0.3s;
    
    


}
.nav-item a:hover, 
.nav-item.active a{
    color:#ffff;
    background-color: #1fa2b7;
    
    line-height: 30px;
   
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



a:visited {
    color: #1fa2b7;
}

/*Nav Bar Css end*/



.mod {
    width: 300px;
    height: 400px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4);
    padding-top: 100px;
    justify-content: flex-end;
    flex-direction: column;
    color: #1fa2b7;
    text-align: center;
    background-color: #ffff;
}

.boxes {
    flex-direction: row;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.Budget-Bar, .welc {
    color: #1fa2b7;
    text-align: center;
}

.Budget-Bar {
    padding-top: 100px;
    
    background: #ffff;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s;
}

.Budget-Bar .percent {
    width: 150px;
    height: 150px;
    position: relative;
}

.Budget-Bar .percent .svg {
    width: 150px;
    height: 150px;
    position: relative;
}

.Budget-Bar .percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #1fa2b7;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

.Budget-Bar .percent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}

.Budget-Bar .percent .num {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #999;
}

.Budget-Bar .percent .num h2 span {
    font-size: 24px;
}

.Budget-Bar .text {
    padding: 10px 0 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.progress_circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dashoffset: calc(440 - (440 * var(--percent-left) / 100)); /* Ensure percent_left is defined as a CSS variable if dynamic */
    transition: stroke-dashoffset 0.5s ease;
    stroke: #1fa2b7;
}

.text {
    color: #999;
}


body {
    background-color: #eee;
    height: 100vh;
}

.body-text {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.1px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form label {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    max-width: 300px; 
    border: 2px solid #1fa2b7;
    background-color: white;
    border-radius: 8px;
    outline: none; 
    transition: border-color 0.3s;

}

form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1fa2b7;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.checkbox-group {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
}

.checkbox-group label {
    display: flex; 
    align-items: left; 
    margin-bottom:10px
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;  
    vertical-align: middle;   
}

.category-option {
    display: flex;
    align-items: center;    
    margin-bottom: 15px;    
    text-align: center;     
}

.icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}