<html>
<head><title>Budget App</title></head>
<body>
    {% include 'navbar.html' %}
   
   <form action="/addExpense" style="display: flex; flex-direction: column; align-items: center;" method="POST">
    <h1>Add Expense</h1>
    <label id="amount">Amount</label>
        <input type="number" id="amountInput"></input>
        <br></br>

        <label id="expenseName">Name of Expense:</label>
        <input type="text"></input>
        <br></br>

        <label id="categories">Choose a Category:</label>
        <br></br>

        <input type="radio" id="food" name="categories" value="food" required>
        <label for="food">Food</label><br>
        
        <input type="radio" id="travel" name="categories" value="travel">
        <label for="transport">Travel</label><br>
        
        <input type="radio" id="entertainment" name="categories" value="entertainment">
        <label for="entertainment">Entertainment</label><br>

        <input type="radio" id="shopping" name="categories" value="shopping">
        <label for="shopping">Shopping</label><br>
  
        <label id="date">Select Date</label>
        <input type="date" id="date">
        <br></br>
        <label id="notes">Notes</label>
        <input type="text"></input>
        <br></br>
        <button type="submit">Add</button>
        <br></br>
    </form>
</body>
</html>