<!DOCTYPE html>

<html lang="en">
    <head>
        <title>StudentSpender</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    </head>

    <body class="body-text">
        <!-- include navigation bar -->
        {% include 'navbar.html' %}

        <!-- display text describing webpage purpose -->
        <h1>Select Your Spending Categories!</h1>
        <h3>This determines how we will categorize your spending in your budget plan.</h3>

        <!-- form for selecting spending categories -->
        <form action="/budget_category_submit" method="POST">
            <div class="checkbox-group">
                <label>
                    <input type="checkbox" name="categories" value="accommodation">
                    Accommodation
                </label>
                <label>
                    <input type="checkbox" name="categories" value="food">
                    Food
                </label>
                <label>
                    <input type="checkbox" name="categories" value="transportation">
                    Transportation
                </label>
                <label>
                    <input type="checkbox" name="categories" value="entertainment">
                    Entertainment
                </label>
                <label>
                    <input type="checkbox" name="categories" value="shopping">
                    Shopping
                </label>
                <label>
                    <input type="checkbox" name="categories" value="miscellaneous">
                    Miscellaneous
                </label>
            </div>
            <button type="submit">Generate Spending Plan</button>
        </form>
    </body>
</html>