<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentSpender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<script>
  window.onload = function() {
  openForgotPasswordPopup();
};
</script>
<body>
    <div id="forgotPasswordPopupContainer" class="popup-container">
        <div class="popup-content">
          <button class="close-btn" onclick="closeForgotPasswordPopup()">×</button>
          <div class="logo">StudentSpender</div>
          <h2>Reset Your Password</h2>
          <form action= "{{ url_for('forgotPassword') }}"method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="new_password" placeholder="New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm New Password" required>
            <button type="submit" class="primary-btn">Reset Password</button>
          
          </form>
            
        </div>
      </div>
      <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>
