<!--Home, Expenses, Budget, Advice, Settings-->
<!DOCTYPE html>
<html>
  <head>
    <title>StudentSpender</title>
    
    <div class="Homepage"></div>
    <div class="menubar"></div>
    <style></style>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
  </head>

  <body>
    
    {% include 'navbar.html' %}
   
    <h1 class="welc">Welcome Back, {{ first_name }} {{ last_name }}</h1>

    <div class="boxes">

      <div class="Budget-Bar">
        <h2 class="modhead">Total Budget</h2>
        <div class="percent">
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70" class="progress_circle" style="stroke-dashoffset: calc(440 - (440 * var(--percent-left) / 100));"></circle>
          </svg>
          <div class="num">
            <h2>{{ percent_left }}<span>%</span></h2>
          </div>
        </div>
        <h2 class="text">Weekly Budget Left</h2>
      </div>
      
      <div class="mod">
        <h2 class="modhead">Recent Spending</h2>
  
  
  
      </div>


      
    </div>

    

    </div>
  </body>
</html>
