<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">

    </head>
    <body>
        <nav>
            <ul>
              <li><a href="{{ url_for('homepage') }}">Home</a></li>
              <li><a href="{{ url_for('expenses') }}">Expenses</a></li>
              <li><a href="{{ url_for('budget') }}">Budget</a></li>
              <li><a href="{{ url_for('advice') }}">Advice</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
        </nav>
    </body>
    
</html>
