<html>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='homepage.css') }}"
  />
  <head>
    {% include 'navbar.html' %}
    <div class="title">
      <title>Profile</title>
    </div>
  </head>

  <body class="prof_body">
    <div class="prof" >
        <h1 class="prof_head">Profile</h1>
        <div class="pfp">
            <img src="{{ url_for('static', filename='images/blank_pfp.jpg') }}" alt="Default Profile Pic" />
        </div>
        <div class="forms">
            <form class="prof_form" action="/submit" method="POST">

            <label for="full_name">Full Name</label> 
            <input class="form_inputs" type="text" id="full_name" name="full_name" value="{{ user.fullname }}" disabled><br><br>

            <label for="email">Email</label> 
            <input class="form_inputs" type="text" id="email" name="email" value="{{ user.email }}" disabled><br><br>

            <label for="username">Username</label> 
            <input class="form_inputs" type="text" id="username" name="username" value="{{ user.username }}" disabled><br><br>

            <label for="password">Password</label> 
            <input class="form_inputs" type="password" id="password" name="password" value="{{ user.password }}" disabled><br><br>

            <label for="home_country">Home Country</label> 
            <input class="form_inputs" type="text" id="home_country" name="home_country" value="{{ user.home_country }}" disabled><br><br>
                
            </form>   
        </div>

        <div class="spend_cats">
            <h2 class="spend_form">Spending Categories</h2>
            <form id="spending-categories">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="cats" value="Accommodation" disabled
                    {% if 'Accommodation' in selected %}checked{% endif %}>
                        Accommodation
                </label>


                <label>
                    <input type="checkbox" name="cats" value="Food" disabled
                    {% if 'Food' in selected %}checked{% endif %}>
                        Food
                </label>


                <label>
                    <input type="checkbox" name="cats" value="Travel" disabled
                    {% if 'Travel' in selected %}checked{% endif %}>
                        Travel
                </label>


                <label>
                    <input type="checkbox" name="cats" value="Entertainment" disabled
                    {% if 'Entertainment' in selected %}checked{% endif %}>
                        Entertainment
                </label>

                <label>
                    <input type="checkbox" name="cats" value="Shopping" disabled
                    {% if 'Shopping' in selected %}checked{% endif %}>
                        Shopping
                </label>

                <label>
                    <input type="checkbox" name="cats" value="Miscellaneous" disabled
                   {% if 'Miscellaneous' in selected %}checked{% endif %}> 
                        Miscellaneous
                </label>


            </div>
            </form>
        </div>

        <div class="edit">
            
            <button class="edit_pfp" onclick=location.href="{{ url_for('edit_profile') }}">Edit</button>

        </div>


  </body>
</div>
</html>
