<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentSpender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<script>
window.onload = function() {
  openSignupPopup();
};
</script>
<body>
    <div id="signupPopupContainer" class="popup-container">
        <div class="popup-content">
            <button class="close-btn" onclick="closeSignupPopup()">×</button>
            <h1 class="logo">StudentSpender</h1>
            <h2>Create a New Account</h2>

            <form action="{{ url_for('signup') }}" method="POST">
                <input type="text" name="fullname" placeholder="Full Name" required>
                <input type="email" name="email" placeholder="Email Address" required>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="text" name="address" placeholder="Home Country" required>
                <button type="submit" class="primary-btn">Sign Up</button>
            </form>

            <p class="signup-link">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>
